hello {{name}}

<ul class="students" xmlns="http://www.w3.org/1999/html">
    {{#each students}}
        group {{@key}}
        {{#each this}}
            <li>
                student: {{name}}
            </li>
        {{/each}}
        <br>
    {{/each}}
</ul>